C:/Users/PC/Rastreador_Ofertas_Videojuegos/scripts
C:/Users/PC/Rastreador_Ofertas_Videojuegos/.git/
C:/Users/PC/Rastreador_Ofertas_Videojuegos/scripts/scraping/__pycache__/
scripts/scraping/__pycache__/